[Desktop Entry]
Encoding=UTF-8
Name=Link to Seamless Floor Special by AGF81 on DeviantArt
Type=Link
URL=http://agf81.deviantart.com/art/Seamless-Floor-Special-322523166
Icon=text-html
